body {
  background-color: black;
  text-align: center;
}
h1 {
  font-size: 50px;
  font-family: Verdana;
  color: white;
  text-align: center;
  font-weight:normal;
}
a {
  color: Aquamarine;
  font-size: 16px;
}
